In [1]:
import numpy as np

# Warming

In [2]:
myMax = 1000000
initArr = np.array([1/(n) for n in range(myMax) if n%2 != 0])
altrnateArr = np.array([np.power(-1,n) for n in range(initArr.shape[0])])
finalArr = np.multiply(initArr,altrnateArr)

In [3]:
finalResult =np.sum(np.multiply(4,finalArr)) 
print(finalResult)

3.141590653589793

# Getting Started With Pandas
dataset used https://www.kaggle.com/datasets/rohitsahoo/sales-forecasting

In [4]:
import pandas as pd
data_path = './super_store_sales.csv'
data = pd.read_csv(data_path)
data.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
0,1,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,2,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,3,CA-2017-138688,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,4,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,5,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680

## 1 We look to display general information about the data set: (a) columns, (b) number of rows, (c) averaged numbers, (d) max/min values, and (e) the quality of data (number of missing values per column).

In [5]:
a = data.columns.to_list()
print(f"columns are : {a}")
b= data.shape
b2 = len(data.iloc[:,0])
print(f"number of rows {b[0]}")
print(f"number of rows {b2}")
c = data.Sales.mean()
print(f"averaged sales {c}")
d = data.isna().sum()
print(f"missing values per columns {d}")

columns are : ['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode', 'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State', 'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category', 'Product Name', 'Sales']
number of rows 9800
number of rows 9800
averaged sales 230.76905945917886
missing values per columns Row ID            0
Order ID          0
Order Date        0
Ship Date         0
Ship Mode         0
Customer ID       0
Customer Name     0
Segment           0
Country           0
City              0
State             0
Postal Code      11
Region            0
Product ID        0
Category          0
Sub-Category      0
Product Name      0
Sales             0
dtype: int64

## 2 Additionally, we like to display a portion of the data (say the 10 first rows).

In [6]:
data.loc[:9]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
0,1,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,2,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,3,CA-2017-138688,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,4,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,5,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680
5,6,CA-2015-115812,09/06/2015,14/06/2015,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,West,FUR-FU-10001487,Furniture,Furnishings,Eldon Expressions Wood and Plastic Desk Access...,48.8600
6,7,CA-2015-115812,09/06/2015,14/06/2015,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,West,OFF-AR-10002833,Office Supplies,Art,Newell 322,7.2800
7,8,CA-2015-115812,09/06/2015,14/06/2015,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,West,TEC-PH-10002275,Technology,Phones,Mitel 5320 IP Phone VoIP phone,907.1520
8,9,CA-2015-115812,09/06/2015,14/06/2015,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,West,OFF-BI-10003910,Office Supplies,Binders,DXL Angle-View Binders with Locking Rings by S...,18.5040
9,10,CA-2015-115812,09/06/2015,14/06/2015,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,West,OFF-AP-10002892,Office Supplies,Appliances,Belkin F5C206VTEL 6 Outlet Surge,114.9000

## 3 We like to display the number of (a) unique values per column, (b) the type ofvalues, and to group the dataset by a specific column say (column = order date),where (c) other values should be averaged, than (d) we extract the row having thehighest average.

In [7]:
a = data.nunique()
# print(f"Number of unqiue values per column {a}")
b = data.dtypes
# print(f"type of values {b}")
c=data.groupby("Order Date").Sales.mean()

print(f"highest average sales per order date \n {c}")

highest average sales per order date
 Order Date
01/01/2018    148.182800
01/02/2015    468.900000
01/02/2017     80.985000
01/03/2015    220.315100
01/03/2016    234.596343
                 ...
31/10/2017    468.812375
31/10/2018    174.642667
31/12/2015    375.233571
31/12/2016    125.576727
31/12/2017    104.538286
Name: Sales, Length: 1230, dtype: float64

## 4 We like to rearrange the data so important columns are displayed in first

In [8]:
data.head()
new_cols = ['Row ID','Product Name','Category','Sales', 'Order ID', 'Order Date', 'Ship Date',
           'Ship Mode', 'Customer ID', 'Customer Name',
           'Segment', 'Country', 'City', 'State', 'Postal Code',
           'Region', 'Product ID',  'Sub-Category'
            ]
data=data.reindex(columns=new_cols)
data.head()

,Row ID,Product Name,Category,Sales,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Sub-Category
0,1,Bush Somerset Collection Bookcase,Furniture,261.9600,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Bookcases
1,2,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",Furniture,731.9400,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Chairs
2,3,Self-Adhesive Address Labels for Typewriters b...,Office Supplies,14.6200,CA-2017-138688,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Labels
3,4,Bretford CR4500 Series Slim Rectangular Table,Furniture,957.5775,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Tables
4,5,Eldon Fold 'N Roll Cart System,Office Supplies,22.3680,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Storage

## 5 To avoid all kind of type issues, we like to (a) convert all numerical values to float(prices, quantities …etc), and (b) all string values should be lowercased.

In [9]:
def type_converter(col):
    if col.dtype == 'object':
        col = col.astype('str').str.lower()
    else:
        col = col.astype('float64')
    return col
# data.apply(lambda x : x.astype('str').str.lower() if x.dtype == 'object' else x.astype('float64'))
data=data.apply(type_converter,axis=0)

## 6 We like to codify sales into new column named “sale interest” which consists ofthree values (1: basic, 2: moderate, 3: high).

In [10]:
data.Sales.describe()
boundary_25 = data.Sales.describe()['25%']
boundary_75 = data.Sales.describe()['75%']
data["sale interest"] = np.nan
def codify_sales(row):
    
    if row.Sales > boundary_75 :
        row['sale interest'] = "high"
    elif row.Sales > boundary_25:
        row['sale interest'] = "moderate"
    else:
        row['sale interest'] = "low"
    
    return row
data=data.apply(codify_sales,axis='columns')

## 7 We like to normalize sale by dividing on the highest sale value (keep values in 0 to 1).

In [11]:
highest_sale = data.Sales.max()
data.Sales = data.Sales.map(lambda x : x / highest_sale)
data

,Row ID,Product Name,Category,Sales,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Sub-Category,sale interest
0,1.0,bush somerset collection bookcase,furniture,0.011571,ca-2017-152156,08/11/2017,11/11/2017,second class,cg-12520,claire gute,consumer,united states,henderson,kentucky,42420.0,south,fur-bo-10001798,bookcases,high
1,2.0,"hon deluxe fabric upholstered stacking chairs,...",furniture,0.032332,ca-2017-152156,08/11/2017,11/11/2017,second class,cg-12520,claire gute,consumer,united states,henderson,kentucky,42420.0,south,fur-ch-10000454,chairs,high
2,3.0,self-adhesive address labels for typewriters b...,office supplies,0.000646,ca-2017-138688,12/06/2017,16/06/2017,second class,dv-13045,darrin van huff,corporate,united states,los angeles,california,90036.0,west,off-la-10000240,labels,low
3,4.0,bretford cr4500 series slim rectangular table,furniture,0.042299,us-2016-108966,11/10/2016,18/10/2016,standard class,so-20335,sean o'donnell,consumer,united states,fort lauderdale,florida,33311.0,south,fur-ta-10000577,tables,high
4,5.0,eldon fold 'n roll cart system,office supplies,0.000988,us-2016-108966,11/10/2016,18/10/2016,standard class,so-20335,sean o'donnell,consumer,united states,fort lauderdale,florida,33311.0,south,off-st-10000760,storage,moderate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9795,9796.0,"cardinal holdit! binder insert strips,extra st...",office supplies,0.000168,ca-2017-125920,21/05/2017,28/05/2017,standard class,sh-19975,sally hughsby,corporate,united states,chicago,illinois,60610.0,central,off-bi-10003429,binders,low
9796,9797.0,"bic brite liner highlighters, chisel tip",office supplies,0.000458,ca-2016-128608,12/01/2016,17/01/2016,standard class,cs-12490,cindy schnelling,corporate,united states,toledo,ohio,43615.0,east,off-ar-10001374,art,low
9797,9798.0,ge 30524ee4,technology,0.010389,ca-2016-128608,12/01/2016,17/01/2016,standard class,cs-12490,cindy schnelling,corporate,united states,toledo,ohio,43615.0,east,tec-ph-10004977,phones,high
9798,9799.0,anker 24w portable micro usb car charger,technology,0.001165,ca-2016-128608,12/01/2016,17/01/2016,standard class,cs-12490,cindy schnelling,corporate,united states,toledo,ohio,43615.0,east,tec-ph-10000912,phones,moderate
9799,9800.0,sandisk cruzer 4 gb usb flash drive,technology,0.000459,ca-2016-128608,12/01/2016,17/01/2016,standard class,cs-12490,cindy schnelling,corporate,united states,toledo,ohio,43615.0,east,tec-ac-10000487,accessories,low

## 8 As to conserve privacy, we would to delete postal code and customer name from the data before passing it to other members in the team.

In [12]:
data = data.drop(columns=["Customer Name","Postal Code"])

## 9 We delete duplicated records.

In [13]:
data.drop_duplicates()

,Row ID,Product Name,Category,Sales,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Segment,Country,City,State,Region,Product ID,Sub-Category,sale interest
0,1.0,bush somerset collection bookcase,furniture,0.011571,ca-2017-152156,08/11/2017,11/11/2017,second class,cg-12520,consumer,united states,henderson,kentucky,south,fur-bo-10001798,bookcases,high
1,2.0,"hon deluxe fabric upholstered stacking chairs,...",furniture,0.032332,ca-2017-152156,08/11/2017,11/11/2017,second class,cg-12520,consumer,united states,henderson,kentucky,south,fur-ch-10000454,chairs,high
2,3.0,self-adhesive address labels for typewriters b...,office supplies,0.000646,ca-2017-138688,12/06/2017,16/06/2017,second class,dv-13045,corporate,united states,los angeles,california,west,off-la-10000240,labels,low
3,4.0,bretford cr4500 series slim rectangular table,furniture,0.042299,us-2016-108966,11/10/2016,18/10/2016,standard class,so-20335,consumer,united states,fort lauderdale,florida,south,fur-ta-10000577,tables,high
4,5.0,eldon fold 'n roll cart system,office supplies,0.000988,us-2016-108966,11/10/2016,18/10/2016,standard class,so-20335,consumer,united states,fort lauderdale,florida,south,off-st-10000760,storage,moderate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9795,9796.0,"cardinal holdit! binder insert strips,extra st...",office supplies,0.000168,ca-2017-125920,21/05/2017,28/05/2017,standard class,sh-19975,corporate,united states,chicago,illinois,central,off-bi-10003429,binders,low
9796,9797.0,"bic brite liner highlighters, chisel tip",office supplies,0.000458,ca-2016-128608,12/01/2016,17/01/2016,standard class,cs-12490,corporate,united states,toledo,ohio,east,off-ar-10001374,art,low
9797,9798.0,ge 30524ee4,technology,0.010389,ca-2016-128608,12/01/2016,17/01/2016,standard class,cs-12490,corporate,united states,toledo,ohio,east,tec-ph-10004977,phones,high
9798,9799.0,anker 24w portable micro usb car charger,technology,0.001165,ca-2016-128608,12/01/2016,17/01/2016,standard class,cs-12490,corporate,united states,toledo,ohio,east,tec-ph-10000912,phones,moderate
9799,9800.0,sandisk cruzer 4 gb usb flash drive,technology,0.000459,ca-2016-128608,12/01/2016,17/01/2016,standard class,cs-12490,corporate,united states,toledo,ohio,east,tec-ac-10000487,accessories,low

## 10 How many days we have in the studied period, how many weeks?

In [14]:
#didnt understand

## 11 We check how many chip modes we have.

In [15]:
ship_modes = data.loc[:,"Ship Mode"].unique()
print(ship_modes)

['second class' 'standard class' 'first class' 'same day']

## 12 We check the customer who requests the most, the customer who spends the most,and the one who cares more about his deliveries, what is the portion of these users among the total.

In [16]:
#didnt figure the requests
most_spends = data.groupby("Customer ID").Sales.sum().idxmax()
print(f"customer who spends the most {most_spends}")


first_class_customers = data.loc[data.loc[:,"Ship Mode"] == "first class"]
most_cares= first_class_customers.groupby("Customer ID").apply(lambda df:df.loc[:,"Ship Mode"].count()).idxmax()
print(f"customer who cares the most about his deliveries {most_cares}")
# proportion idk

customer who spends the most sm-20320
customer who cares the most about his deliveries ck-12595

## 13 Calculate the period between order date and ship date.

In [17]:
period_order_shipping = pd.to_datetime(data["Ship Date"],dayfirst=True) - pd.to_datetime(data["Order Date"],dayfirst=True)   
print(period_order_shipping)

0      3 days
1      3 days
2      4 days
3      7 days
4      7 days
        ...
9795   7 days
9796   5 days
9797   5 days
9798   5 days
9799   5 days
Length: 9800, dtype: timedelta64[ns]

## 14 Group products by category, and cite which category has the highest sales? Is the number of concerned customers considerable?

In [18]:
grouped_by_categ = data.groupby("Category")
highest_categ = grouped_by_categ.Sales.sum().idxmax()
print(highest_categ)
# number of customers concerned-
concerned_with_it = data.loc[data.Category == highest_categ].loc[:,"Customer ID"].unique()
nb_concerned = concerned_with_it.size 
total_customers = data.loc[:,"Customer ID"].unique().size
print('{:0%} of customers are intrested in {categ}'.format(nb_concerned/total_customers,categ=highest_categ))
#yes it is

technology
86.254729% of customers are intrested in technology

## 15 To help the marketing department, analyze the Segment column and suggest which segment should have more focus.

In [19]:
print(data.Segment.value_counts())
consumers = data.loc[data.Segment == 'consumer']
corporate = data.loc[data.Segment == 'corporate']
home_office = data.loc[data.Segment == 'home office']
consumers_sales = consumers.Sales.sum()
corporate_sales = corporate.Sales.sum()
home_office_sales = home_office.Sales.sum()
segment_comparaison = pd.DataFrame({'Total Sales':[consumers_sales,corporate_sales,home_office_sales]},
                                   index=["Consumers","Coporate","Home Office"]
                                   )
top_segment = segment_comparaison.iloc[:,0].idxmax()
print("\nSegment Comparaison")
print(segment_comparaison)
print("\nWe should focus more on {top}".format(top=top_segment))

consumer       5101
corporate      2953
home office    1746
Name: Segment, dtype: int64

Segment Comparaison
             Total Sales
Consumers      50.712792
Coporate       30.412558
Home Office    18.772558

We should focus more on Consumers

## 16 We like to improve the canning process, look at the request dates, and products to conduct if there are any product that needs a better canning

In [20]:
data.head()
#no info

,Row ID,Product Name,Category,Sales,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Segment,Country,City,State,Region,Product ID,Sub-Category,sale interest
0,1.0,bush somerset collection bookcase,furniture,0.011571,ca-2017-152156,08/11/2017,11/11/2017,second class,cg-12520,consumer,united states,henderson,kentucky,south,fur-bo-10001798,bookcases,high
1,2.0,"hon deluxe fabric upholstered stacking chairs,...",furniture,0.032332,ca-2017-152156,08/11/2017,11/11/2017,second class,cg-12520,consumer,united states,henderson,kentucky,south,fur-ch-10000454,chairs,high
2,3.0,self-adhesive address labels for typewriters b...,office supplies,0.000646,ca-2017-138688,12/06/2017,16/06/2017,second class,dv-13045,corporate,united states,los angeles,california,west,off-la-10000240,labels,low
3,4.0,bretford cr4500 series slim rectangular table,furniture,0.042299,us-2016-108966,11/10/2016,18/10/2016,standard class,so-20335,consumer,united states,fort lauderdale,florida,south,fur-ta-10000577,tables,high
4,5.0,eldon fold 'n roll cart system,office supplies,0.000988,us-2016-108966,11/10/2016,18/10/2016,standard class,so-20335,consumer,united states,fort lauderdale,florida,south,off-st-10000760,storage,moderate

## 17 We filter out all records in the period [X,Y] and calculate the sales average

In [21]:
X='10-10-2016'
Y='10-10-2017'
sales_average=data.loc[(pd.to_datetime( data["Order Date"],dayfirst=True) >= pd.to_datetime(X,dayfirst=True))
                      & (pd.to_datetime( data["Order Date"],dayfirst=True) <= pd.to_datetime(Y,dayfirst=True))].Sales.mean()
print(sales_average)

0.010347820083109383

## 18 We filter out all records having (column=sale has value less than Y), then rows group by city and tell which city should have lower priorities.

In [22]:
Y = 0.002
filtred_by_sale = data.loc[data.Sales < Y ]
cities_ranking = filtred_by_sale.groupby("City").Sales.sum().sort_values(ascending=True)
print(f"the city that should have lower priorities {cities_ranking.index[0]}")

the city that should have lower priorities abilene

## 19 For the city= X, we count how many times column= sale has value more than Y.

In [23]:
Y = 0.02
X="los angeles"
city_X = data.loc[data["City"] == X]
count = city_X.loc[city_X["Sales"] > Y].shape[0]
print(count)

107

## 20 We interest by analyzing the products quantities, and their related sales, analyze both columns and assist the stock manager to avoid the lack of product (find out products average requests per day).

In [24]:
data.head()

,Row ID,Product Name,Category,Sales,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Segment,Country,City,State,Region,Product ID,Sub-Category,sale interest
0,1.0,bush somerset collection bookcase,furniture,0.011571,ca-2017-152156,08/11/2017,11/11/2017,second class,cg-12520,consumer,united states,henderson,kentucky,south,fur-bo-10001798,bookcases,high
1,2.0,"hon deluxe fabric upholstered stacking chairs,...",furniture,0.032332,ca-2017-152156,08/11/2017,11/11/2017,second class,cg-12520,consumer,united states,henderson,kentucky,south,fur-ch-10000454,chairs,high
2,3.0,self-adhesive address labels for typewriters b...,office supplies,0.000646,ca-2017-138688,12/06/2017,16/06/2017,second class,dv-13045,corporate,united states,los angeles,california,west,off-la-10000240,labels,low
3,4.0,bretford cr4500 series slim rectangular table,furniture,0.042299,us-2016-108966,11/10/2016,18/10/2016,standard class,so-20335,consumer,united states,fort lauderdale,florida,south,fur-ta-10000577,tables,high
4,5.0,eldon fold 'n roll cart system,office supplies,0.000988,us-2016-108966,11/10/2016,18/10/2016,standard class,so-20335,consumer,united states,fort lauderdale,florida,south,off-st-10000760,storage,moderate

In [25]:
group_by_product = data.groupby("Product Name")
regroup_per_day = group_by_product.apply(lambda df : df.groupby("Order Date").mean())
regroup_per_day

                                                               Row ID  \
Product Name                                       Order Date
"while you were out" message book, one form per... 03/09/2018  7322.0
                                                   13/11/2018  3783.0
                                                   30/10/2018  1709.0
#10 gummed flap white envelopes, 100/box           03/11/2016  2586.0
                                                   08/04/2017   356.0
...                                                               ...
zipper ring binder pockets                         23/04/2015  3408.0
                                                   26/11/2017  5274.0
                                                   27/11/2016   962.0
                                                   28/07/2018  2219.0
                                                   29/12/2017  4156.0

                                                                  Sales
Product Name                                       Order Date
"while you were out" message book, one form per... 03/09/2018  0.000393
                                                   13/11/2018  0.000393
                                                   30/10/2018  0.000328
#10 gummed flap white envelopes, 100/box           03/11/2016  0.000292
                                                   08/04/2017  0.000365
...                                                                 ...
zipper ring binder pockets                         23/04/2015  0.000331
                                                   26/11/2017  0.000165
                                                   27/11/2016  0.000276
                                                   28/07/2018  0.000441
                                                   29/12/2017  0.000124

[9761 rows x 2 columns]

In [26]:
interval_of_days = 365
products = data["Product Name"]
products_occurences=products.value_counts()
pr_avg_req_per_day = products_occurences / interval_of_days
print("Product average request per day\n")
print(pr_avg_req_per_day)

Product average request per day

staple envelope                                                        0.128767
staples                                                                0.126027
easy-staple paper                                                      0.120548
avery non-stick binders                                                0.054795
staples in misc. colors                                                0.049315
                                                                         ...
xiaomi mi3                                                             0.002740
universal ultra bright white copier/laser paper, 8 1/2" x 11", ream    0.002740
socket bluetooth cordless hand scanner (chs)                           0.002740
logitech illuminated ultrathin keyboard with backlighting              0.002740
lg g2                                                                  0.002740
Name: Product Name, Length: 1849, dtype: float64

## 21 We interest by studying the change in the sales (days, weeks), create and display a series representing the difference in sales between each successive (a) two days (grouped by region), (b) two weeks.

In [27]:
#didnt need it
days = pd.to_datetime(data.loc[:,"Order Date"].unique(),dayfirst=True) 
sorted_days=days.sort_values(ascending=True)
print(sorted_days)

DatetimeIndex(['2015-01-03', '2015-01-04', '2015-01-05', '2015-01-06',
               '2015-01-07', '2015-01-09', '2015-01-10', '2015-01-11',
               '2015-01-13', '2015-01-14',
               ...
               '2018-12-21', '2018-12-22', '2018-12-23', '2018-12-24',
               '2018-12-25', '2018-12-26', '2018-12-27', '2018-12-28',
               '2018-12-29', '2018-12-30'],
              dtype='datetime64[ns]', length=1230, freq=None)

In [28]:
#changed logic
def handle_diff_days(df):
    #init and set salse to 0
    temp=(0,0,0,0,0)
    for row in df.itertuples():
     
        #sales'index in the tuple is 
        df.loc[row[0],"Sales Diff"] = row[4] - temp[4]
        temp = row
    return df

In [29]:
#didnt work
def handle_diff_days2(df):
#     df = df.sort_values(by="Order Date",ascending=True)
    for i in range(df.shape[0]-1):
        print(i)
#         df = df.loc[i+1,"Sales"]-df.loc[i,"Sales"]
    return df

In [30]:
#casting to date time type prefer to make it at the begining
data["Order Date"] = pd.to_datetime(data["Order Date"],dayfirst=True)
#sorting and grouping
grouped_by_region_date = data.sort_values(by="Order Date",ascending=True)
grouped_by_region_date=grouped_by_region_date.groupby(["Region","Order Date"])

In [31]:
#calculate the sum of sales in each day by every region and add sales difference column
grouped_sales = pd.DataFrame({'Sales':grouped_by_region_date.Sales.sum(),
                              'Sales Diff':np.nan},
                             columns=['Sales','Sales Diff']) 
grouped_sales

                       Sales Sales Diff
Region  Order Date
central 2015-01-03  0.000727        NaN
        2015-01-04  0.012724        NaN
        2015-01-07  0.003850        NaN
        2015-01-09  0.001791        NaN
        2015-01-20  0.031301        NaN
...                      ...        ...
west    2018-12-24  0.214073        NaN
        2018-12-25  0.018907        NaN
        2018-12-28  0.052904        NaN
        2018-12-29  0.039098        NaN
        2018-12-30  0.001663        NaN

[2926 rows x 2 columns]

In [32]:
#init sales diff
grouped_sales["Sales Diff"] = grouped_sales["Sales"]
print(grouped_sales)
#crop the sales calculate the differences
grouped_sales_without_last_day_central = grouped_sales.loc["central"].loc[:,"Sales"][:-1].to_list()
grouped_sales_without_last_day_west = grouped_sales.loc["west"].loc[:,"Sales"][:-1].to_list()
grouped_sales.loc['central'].loc[:,"Sales Diff"][1:] -= grouped_sales_without_last_day_central
grouped_sales.loc['west'].loc[:,"Sales Diff"][1:] -= grouped_sales_without_last_day_west
print("Difference between sales between every two days by region")
grouped_sales

                       Sales  Sales Diff
Region  Order Date
central 2015-01-03  0.000727    0.000727
        2015-01-04  0.012724    0.012724
        2015-01-07  0.003850    0.003850
        2015-01-09  0.001791    0.001791
        2015-01-20  0.031301    0.031301
...                      ...         ...
west    2018-12-24  0.214073    0.214073
        2018-12-25  0.018907    0.018907
        2018-12-28  0.052904    0.052904
        2018-12-29  0.039098    0.039098
        2018-12-30  0.001663    0.001663

[2926 rows x 2 columns]
Difference between sales between every two days by region

                       Sales  Sales Diff
Region  Order Date
central 2015-01-03  0.000727    0.000727
        2015-01-04  0.012724    0.011998
        2015-01-07  0.003850   -0.008874
        2015-01-09  0.001791   -0.002059
        2015-01-20  0.031301    0.029510
...                      ...         ...
west    2018-12-24  0.214073    0.213477
        2018-12-25  0.018907   -0.195166
        2018-12-28  0.052904    0.033997
        2018-12-29  0.039098   -0.013806
        2018-12-30  0.001663   -0.037435

[2926 rows x 2 columns]

## 22 The customer offered a new amount of data –of the same structure- for study and we like to insert it, (a) how to do that? (b) Ensure that indexes are ordered.

In [33]:
# we should extract old indexes then we reindex the new data then we insert the data

# Additional Work

## Calculate the similarity between two customers using shipping mode and sales

In [35]:
data.head()

,Row ID,Product Name,Category,Sales,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Segment,Country,City,State,Region,Product ID,Sub-Category,sale interest
0,1.0,bush somerset collection bookcase,furniture,0.011571,ca-2017-152156,2017-11-08,11/11/2017,second class,cg-12520,consumer,united states,henderson,kentucky,south,fur-bo-10001798,bookcases,high
1,2.0,"hon deluxe fabric upholstered stacking chairs,...",furniture,0.032332,ca-2017-152156,2017-11-08,11/11/2017,second class,cg-12520,consumer,united states,henderson,kentucky,south,fur-ch-10000454,chairs,high
2,3.0,self-adhesive address labels for typewriters b...,office supplies,0.000646,ca-2017-138688,2017-06-12,16/06/2017,second class,dv-13045,corporate,united states,los angeles,california,west,off-la-10000240,labels,low
3,4.0,bretford cr4500 series slim rectangular table,furniture,0.042299,us-2016-108966,2016-10-11,18/10/2016,standard class,so-20335,consumer,united states,fort lauderdale,florida,south,fur-ta-10000577,tables,high
4,5.0,eldon fold 'n roll cart system,office supplies,0.000988,us-2016-108966,2016-10-11,18/10/2016,standard class,so-20335,consumer,united states,fort lauderdale,florida,south,off-st-10000760,storage,moderate

In [46]:
#getting all the product
all_products = data.loc[:,'Product ID'].unique()
all_products

array(['fur-bo-10001798', 'fur-ch-10000454', 'off-la-10000240', ...,
       'tec-ma-10003589', 'off-ap-10003099', 'tec-ph-10002645'],
      dtype=object)

In [75]:
all_customers = data.loc[:,'Customer ID'].unique()
all_customers.shape

(793,)

In [111]:
#adding new featute to measure the ship mode
def tf_ship_mode(mode):
    if mode == 'standard class':
        return 1
    elif mode =='second class':
        return 2
    elif mode == 'first class':
        return 3
    else : 
        return 0
    
modified_data = data
modified_data['Ship Weights'] = modified_data['Ship Mode'].map(lambda mode : tf_ship_mode(mode))
modified_data.head()

,Row ID,Product Name,Category,Sales,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Segment,Country,City,State,Region,Product ID,Sub-Category,sale interest,Ship Weights
0,1.0,bush somerset collection bookcase,furniture,0.011571,ca-2017-152156,2017-11-08,11/11/2017,second class,cg-12520,consumer,united states,henderson,kentucky,south,fur-bo-10001798,bookcases,high,2
1,2.0,"hon deluxe fabric upholstered stacking chairs,...",furniture,0.032332,ca-2017-152156,2017-11-08,11/11/2017,second class,cg-12520,consumer,united states,henderson,kentucky,south,fur-ch-10000454,chairs,high,2
2,3.0,self-adhesive address labels for typewriters b...,office supplies,0.000646,ca-2017-138688,2017-06-12,16/06/2017,second class,dv-13045,corporate,united states,los angeles,california,west,off-la-10000240,labels,low,2
3,4.0,bretford cr4500 series slim rectangular table,furniture,0.042299,us-2016-108966,2016-10-11,18/10/2016,standard class,so-20335,consumer,united states,fort lauderdale,florida,south,fur-ta-10000577,tables,high,1
4,5.0,eldon fold 'n roll cart system,office supplies,0.000988,us-2016-108966,2016-10-11,18/10/2016,standard class,so-20335,consumer,united states,fort lauderdale,florida,south,off-st-10000760,storage,moderate,1

In [112]:
grp_cust_prod = modified_data.groupby(['Customer ID','Product ID'])
#calculate mean sales
mean_grp_sales=grp_cust_prod.Sales.mean()
print(mean_grp_sales)

Customer ID  Product ID
aa-10315     fur-fu-10002456    0.000643
             off-ap-10000576    0.016032
             off-ap-10002765    0.002340
             off-bi-10004390    0.029753
             off-bi-10004654    0.000510
                                  ...
zd-21925     off-bi-10002215    0.001004
             off-pa-10004965    0.000706
             tec-ph-10000673    0.011483
             tec-ph-10001949    0.009430
             tec-ph-10002824    0.036396
Name: Sales, Length: 9751, dtype: float64

In [117]:
#calculate mean ship
mean_grp_ship=grp_cust_prod['Ship Weights'].mean()
print(mean_grp_ship.describe())

count    9751.000000
mean        1.446159
std         0.813775
min         0.000000
25%         1.000000
50%         1.000000
75%         2.000000
max         3.000000
Name: Ship Weights, dtype: float64

In [84]:
#fucntion to construct {shipping_mode:val , sales:val } from a given customer and a given product
def gen_stat(customer_id,product_id):
    mean_sale=mean_grp_sales.loc[customer_id].loc[product_id]
    return {'mean_sale':mean_sale}

In [85]:
gen_stat('aa-10315','fur-fu-10002456')

{'mean_sale': 0.0006431527205006697}